a {
  text-decoration: none;
}
.display {
  display: flex;
  margin: 5px;
  padding: 5px;
}
.display_image {
  margin: 5px;
  width: 40rem;
  height: 10rem;
  background-color: black;
}

.display_image img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.display_content {
  margin-top: -3rem;
  padding: 3px;
  position: absolute;
  font-size: 0.9rem;
  height: 2.4rem;
  overflow: hidden;
  max-width: 15rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.display_image:hover .display_content {
  background-color: black;
}
.content_display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content_display > * {
  flex: 0 0 30%;
}
@media (max-width: 805px) {
  .display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .display_image {
    width: 40rem;
  }
  .display_content {
    max-width: 20rem;
  }
}
@media (max-width: 650px) {
  .content_display {
    display: flex;
    justify-content: center;
  }
  .content_display > * {
    flex: 0 0 60%;
  }
}
@media (max-width: 360px) {
  .display_content {
    max-width: 15rem;
  }
}
